## Angular specific ##
/node_modules/
/dist/
/tmp/
/out-tsc/
/.angular/

## Environment files ##
/src/environments/environment*.ts

## IDE and editor specific ##
/.vs/
/.vscode/
/.idea/
*.sublime-workspace

## Logs ##
*.log

## Compiled files ##
*.js
*.js.map
*.css
*.css.map
*.scssc
*.scssc.map

## Dependency directories ##
/node_modules/
/bower_components/

## Build outputs ##
/dist/
/tmp/
/out-tsc/

## Testing ##
/coverage/
/.karma-coverage/

## Miscellaneous ##
/.DS_Store
/Thumbs.db

## Angular CLI cache ##
/.angular/cache/

## Firebase ##
/.firebaserc
/firebase-debug.log
/firebase-debug.*.log

## Cypress ##
/cypress/videos/
/cypress/screenshots/

## Storybook ##
/.storybook/
/storybook-static/

## NX cache ##
/.nx/cache/
/.nx/workspaces/
