@use "../../invensys-ng/src/lib/themes/theme.scss" as invensys-theme;
@use "../../invensys-ng/src/lib/themes/color-variables.scss" as vars;
@use "../../invensys-ng/src/lib/themes/scrollbar-mixins.scss" as scrollbar;

@import "primeicons/primeicons.css";

@include invensys-theme.define-theme();

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  font-size: 1em;
}

.component-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100%;
  overflow-x: auto;

  @include scrollbar.themed-scrollbar();

  .ui-section {
    display: flex;
    align-items: baseline;
    gap: 16px;
    padding: 16px;
    flex-wrap: wrap;
  }
}
